.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient( rgb(0, 4, 255), rgb(218, 128, 68) 90%, rgb(255, 255, 255));
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.1rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

button.btn.btn-primary {
  margin-top: 10px;
}

.save-password-link, .get-password-link {
  position: absolute;
  right: 50px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.change-password-link {
  position: absolute;
  left: 50px;
  top: 40px;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.logout-btn {
  position: fixed;
  left: 50px;
  top: 10px;
  color: black;
  font-weight: bold;
  font-size: larger;
  background-color: transparent;
  border: none;
  padding: 0;
  color: white;
  text-decoration: underline;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-text {
  text-align: center;
  margin-bottom: 40px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  color: white;
}

.home-buttons  {
  margin-bottom: 20px;
  color: white;
}

.password-list {
  margin-top: 1rem;
}

.password-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.password-list-name,
.password-list-url,
.password-list-password {
  margin: 0;
}

.search {
  margin-bottom: 5rem;
}